# see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
use_default_settings: true

server:
  secret_key: ${SECRET_KEY}
  limiter: true
  image_proxy: true
  port: 8080
  bind_address: "0.0.0.0"

redis:
  url: redis://redis:6379/0

ui:
  static_use_hash: true

search:
  safe_search: 0
  autocomplete: ""
  default_lang: ""
  formats:
    - html
    - json
